.grammar {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .title {
        font-size: 28px;
        font-weight: 700;
      }
    }
  
    .list {
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
  
      .oneSite {
        width: 48.5%;
      }
    }
  }
  