.vocab {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 28px;
      font-weight: 700;
    }
  }

  .list {
    margin: 20px 20px 0px 0px;
  }
}
