.addVocab {
  padding: 40px;
  background-color: #f3f3f3;
  border-radius: 10px;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    .pageTitle {
      font-weight: bold;
      font-size: 32px;
    }

    .body {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .left {
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        padding: 30px;

        .oneField {
          margin-bottom: 30px;

          .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 8px;
          }

          .description {
            margin-bottom: 8px;
          }

          .input {
            padding: 8px 20px;
            border: 1px solid #dadada;
            border-radius: 4px;
            width: 100%;
          }

          .content {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .markdown {
              width: 48%;

              .box {
                border: 1px solid #dadada;
                border-radius: 4px;
                padding: 20px;
                margin-top: 10px;
              }
            }
          }

          .box-img {
            border-radius: 8px;
            border: 1px solid #d3d3d3;
            margin-top: 20px;
          }
        }
      }
    }

    .button {
      background-color: #0061d5;
      color: #ffffff;
      border-radius: 8px;
      padding: 8px 20px;
      cursor: pointer;
      transition-duration: 0.35s;
      user-select: none;
      width: fit-content;
      margin-top: 30px;
      font-weight: 600;

      &:hover {
        background-color: #0869df;
      }

      &:active {
        background-color: #0d5bbb;
      }
    }
  }
}
